<div align="center">
  <h2>Send A message to Us</h2>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true,size: 40 %>
    <%= f.input :email, :required => true ,size: 40%>
    <%= f.input :message, :as => :text, :required => true ,size: 40%>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>
